body{
background-color:#F9F9F9;
scrollbar-face-color: #EDEDF3;
    scrollbar-highlight-color: #ffffff;
    scrollbar-shadow-color: #93949F;
    scrollbar-3dlight-color: #EDEDF3;
    scrollbar-arrow-color: #082468;
    scrollbar-track-color: #F7F7F9;
    scrollbar-darkshadow-color: #EDEDF3;
    
    font-size: 12px;
    color: #003366;
    overflow:auto;

}
.btn{
    font-family: "Tahoma", "ו";
    font-size: 8pt; color: #003366;
    border: 0px #93bee2 solid;
    BORDER-BOTTOM: #93bee2 1px solid; 
    BORDER-LEFT: #93bee2 1px solid; 
    BORDER-RIGHT: #93bee2 1px solid; 
    BORDER-TOP: #93bee2 1px solid;
    background-image:url(../Images/blue_button_bg.gif);
    background-color: #ffffff;
    CURSOR: hand;
    font-style: normal ;
}
.td{
background-color:#DAF5FE;
border:solid 1 #B4C9C6;
 font-size: 10pt;
}
input{
background: #ffffff; 
    border: 1px solid black;
    color:blue;
    cursor: text;
    font-family: "Arial";
    font-size: 8pt;
    height: 18px;
    padding: 1px;

}
select
{
       COLOR:#003366; 
       border: 1px solid black;
}
.td2{
border:solid 1 #B4C9C6;
}
textarea{
	 COLOR:#003366; 
  border: 1px solid black;
}
.input_button{
	border:0px;
	height:23px;
	width:62px;
	background: url("../images/button/button (12).gif");
}